<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista 5 Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" *ngIf="!checkingUser">
  <ion-item>
    <ion-label position="floating">Email do Usuario</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="senha" type="password"></ion-input>
  </ion-item>
  <ion-button  size="large" expand="block" fill="outline" (click)="login()">
    <ion-spinner *ngIf="showLoading"></ion-spinner>
    <ion-icon  *ngIf="!showLoading"  slot="start" name="lock"></ion-icon>
    <ion-label *ngIf="!showLoading"> Login </ion-label>
  </ion-button>
  <ion-button color="tertiary" size="large" expand="block" fill="outline" (click)="registrar()">
    <ion-label>Registrar</ion-label>
  </ion-button>
  </div>
  <div class="loading" *ngIf="checkingUser">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
