<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista 1 Exercicio 2</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light" class="centro">Apenas um passo para você começar!</ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
<ion-button  size="large" expand="block" fill="outline" >
  <ion-icon slot="start" name="lock"></ion-icon>
  Entrar
</ion-button>
</ion-content>
