<ion-header>
    <ion-toolbar>
      <ion-title>Atividade</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-button slot="end" (click)="addAtividade()">
        <ion-icon name="add" ></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
       <div  *ngFor="let atividade of atividades">
        <ion-button *ngIf="(atividade.status == 'true') " (click)="openAtividade(atividade)" size="large" expand="full">
          
            <ion-label>{{atividade.data | date: 'dd/MM/yyyy'}}  --  {{atividade.atividade}}</ion-label>
            
          
        </ion-button>
      </div>
    </ion-list>
  </ion-content>
  