<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Lista 1 Exercicio 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Fazer os Exercicios</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Fazer o trabalho 01</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
      <ion-item>
        <ion-label>Testar os exemplos do Ionic</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>
</ion-content>
